<h1>Hello World</h1>
<p>
  As a person who works in tech this is the predictable new software project that will take more time and resources then the original problem I'm trying to solve.
</p>

<p>
  Yesterday, 2019-02-02, I was feeling crappy. I was tired after a restless night with my daughter. To be fair we were traveling, so it was normal for her to be a little more difficult being removed from her normal routine. Also my neck / back were a bit stiff after the long drive, and I felt bloated, most likely from eating too much pizza the night before. I almost bailed on climbing with a friend, buy luckily I rallyed and had a good time climbing.
</p>

<p>
  However the good times did not last. After climbing my already stiff back tightened and I was unfcomfortable, experiencing sharp pains in my lower back well into this morning. The problem, I'm fairly sure is I'm too fat. I wanna start journaling a bit to see if I can keep on track with some sort of improved diet / fitness plan. This is that journal.
</p>
